*{
    margin: 0;
    padding: 0;
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333333;
}
a {
    color: #6933DC;
}

@font-face {
    src: url("../fonts/Museo Sans Cyrl 500.ttf");
    font-family: Museo Sans Cyrl;
}
@font-face {
    src: url("../fonts/Museo Sans Cyrl 700.ttf");
    font-family: Museo Sans Cyrl Bold;
}

.header{
    padding: 40px 0 40px 40px;
    border-bottom: 1px solid #DCDCF3;
}
.header-logo{
    border-bottom: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}




.btn{
    padding: 14px 35px;
    background: #6933DC;
    border-radius: 6px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    background: #440ac5;
}
.footer{
    padding: 40px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #DCDCF3;
}



.test-option {
    display: flex;
    margin-bottom: 10px;
}

.test-option:hover {
    cursor: pointer;
}

.test-option label {
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
}

input[type="radio"] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #6933DC;
    border-radius: 50%;
    margin: 0 13px 0 0;
    transform: translateY(2px);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 10px 10px #6933DC;
    transition: .3s ease transform;
    transform: scale(0);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}